<link href="/css/styles.css" rel="stylesheet" type="text/css">

<input type="text"
       class="card @((!string.IsNullOrEmpty(CurrentValue) && IsDisabled ? "disabled_card" : string.Empty))"
       value="@CurrentValue"
       @oninput="HandleChange"       
       @onblur="HandleBlur" 
       @onclick="HandleClick" />
<div>@CurrentValue</div>

@code {
    public string CurrentValue { get; set; }
    private bool IsDisabled { get; set; }

    private void HandleChange(ChangeEventArgs eventArgs)
    {
        CurrentValue = eventArgs.Value.ToString();
    }

    public void HandleBlur()
    {
        IsDisabled = true;
    }

    public void HandleClick()
    {
        IsDisabled = false;
    }
}
