@page "/"

@using BlazorServerApp.Components.Card.Model
@using BlazorServerApp.Components.Table.Row.Models
@inject IJSRuntime JSRuntime;


<h3>Table</h3>

@foreach (var row in Rows)
{
    <BlazorServerApp.Components.Table.Row.Row Model="@row"/>
}
<button @onclick="AddRow">Add Row</button>
<button @onclick="Send">Send Row</button>


@code {
    public List<RowModel> Rows = new List<RowModel>();

    public void AddRow()
    {
        Rows.Add(new RowModel());
    }

    public async void Send()
    {
        await JSRuntime.InvokeVoidAsync("send", Rows);
    }
}
